@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.conocenos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(0, 17, 22);
}

.conocenos-1{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0 20px ;
}

.conocenos-1 h1{
    font-size: 3em;
    font-weight: 450;
    color: #ffffff;
}

.conocenos-1 p{
    color: #c2c2c2;
}

.contenedorCT{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px 0;
}

.contenedorCT .carta{
    position: relative;
    width: 300px;
    height: 420px;
    background: linear-gradient(35deg, #14b8799f, #00aeff91);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    box-shadow: 0 25px 45px rgb(0, 0, 0, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-right: 1px solid rgb(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    text-align: center;
    margin: 40px;
    z-index: 10;
    animation: anima 20s linear infinite;
    animation-delay: calc(-2s * var(--j));
}
.contenedorCT .carta .caja{
    padding: 20px;
}

.contenedorCT .carta .caja h2{
    color: #ffffff;
}
.contenedorCT .carta:hover .caja .cuadros{
    opacity: 1;
}

.contenedorCT .carta .caja p{
    color: #cfcfcf;
}

.contenedorCT .carta:hover{
    animation-play-state: paused;
}

.contenedorCT .carta .caja .cuadros{
    transition: 0.5s;
    position: absolute;
    background: linear-gradient(35deg, #0e7c529f, #04689691);
    backdrop-filter: blur(2px);
    box-shadow: 0 25px 45px rgb(0, 0, 0, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-right: 1px solid rgb(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    text-align: center;
    animation: anima 8s linear infinite;
    animation-delay: calc(-1s * var(--i));
    border-radius: 10px;
   opacity: 0;
}

@keyframes anima {
    0%,100%{
        transform: translateY(-30px);
    }

    50%{
        transform: translateY(30px);
    }
}

.contenedorCT .carta .caja .cuadros:nth-child(1){
    top: calc(8px * var(--i));
    right: calc(-50px * var(--i));
    width: 60px;
    height: 60px;
    z-index: 1;
}

.contenedorCT .carta .caja .cuadros:nth-child(2){
    top: calc(110px * var(--i));
    left: -45px;
    width: 40px;
    height: 40px;
    z-index: 11;
}

.contenedorCT .carta .caja .cuadros:nth-child(3){
    top: calc(150px * var(--i));
    right: -45px;
    width: 50px;
    height: 50px;
    z-index: 3;
}
